---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Membership from '../components/Membership.astro';
import Games from '../components/Games.astro';
import Events from '../components/Events.astro';
import Partners from '../components/Partners.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gladiator Games - Competitive Gaming Platform">
  <Header />
  <main>
    <Hero />
    <Membership />
    <Games />
    <Events />
    <Partners />
    <FAQ />
  </main>
  <Footer />
</Layout>
